.container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.container section {
  display: flex;
  gap: 8px;
  align-items: center;
}

.container input[aria-invalid="true"] {
  background-color: red;
}

.container input[data-update-blocked="true"] {
  background-color: gray;
}